---
layout: default
---

<div class="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="btn btn-default btn-xs" href="{{ site.baseurl}}/index.html" class="previous">上一页</a>
        {% else %}
            <a class="btn btn-default btn-xs" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">上一页</a>
        {% endif %}
    {% endif %}

    <span class="page_number ">第{{ paginator.page }}页，共{{ paginator.total_pages }}页</span>
    {% if paginator.next_page %}
        <a class="btn btn-default btn-xs" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">下一页</a>
    {% endif %}
</div>

{% for post in paginator.posts %}
    <h3>{{ post.title }} <small>{{ post.date | date: "%Y-%m-%d" }}</small></h3>
    <p>
        {% for category in post.categories %}
          <span class="label label-success">{{ category }}</span>
        {% endfor %}
        {{ post.excerpt }}<a href="{{ site.baseurl}}{{ post.url }}">详细</a>
    </p>

<!-- 
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a> - <small>{{ post.date | date: "%Y-%m-%d" }}</small>
        </div>
        <div class="panel-body">
            {{ post.content }}
        <p>
            {% for category in post.categories %}
              <span class="label label-success">{{ category }}</span>
            {% endfor %}
            {{ post.excerpt }}<a href="{{ site.baseurl}}{{ post.url }}">详细</a>
        </p>
        </div>
    </div>
     -->
{% endfor %}

<div class="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="btn btn-default btn-xs" href="{{ site.baseurl}}/index.html" class="previous">上一页</a>
        {% else %}
            <a class="btn btn-default btn-xs" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">上一页</a>
        {% endif %}
    {% endif %}

    <span class="page_number ">第{{ paginator.page }}页，共{{ paginator.total_pages }}页</span>
    {% if paginator.next_page %}
        <a class="btn btn-default btn-xs" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">下一页</a>
    {% endif %}
</div>
