
<div class="panel panel-primary">
	<div class="panel-heading">近期文章</div>
	<div class="panel-body">
	    <ul>
	        {% for post in site.posts limit:site.recentposts %}
	          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
	        {% endfor %}
	    </ul>
    </div>
</div>

<!-- 
<div class="well">
	<h1>Tags</h1>
	<div id="tag_sidebar">
	  	{% for tag in site.tags %}
		   	<a href="{{site.baseurl}}/tags?tag={{tag[0] | cgi}}" title="{{ tag[0] }}"> <span class="label label-success">{{ tag[0] }}<sup>{{ tag[1].size }}</sup></span></a>
	  	{% endfor %}
	</div>
</div>
 -->

{% include links-list.html %}