<div class="sidebar well">
	{{ site.description }}
</div>

<div class="sidebar well">
    <h1>近期文章</h1>
    <ul>
        {% for post in site.posts limit:site.recentposts %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
	<div id="tag_sidebar">
	  {% for tag in site.tags %}
	  <a href="{{site.baseurl}}/tags/?tag={{tag[0] | cgi}}" title="{{ tag[0] }}">
	    {{ tag[0] }}<sup>{{ tag[1].size }}</sup>&nbsp;
	  </a>
	  {% endfor %}
	</div>
</div>

<div class="sidebar well">
    <h1>Tags</h1>
	<ul>
	{% if site.tags.first[0] == null %}
		{% for tag in site.tags %} 
		<li><a href="#{{ tag }}-ref">{{ tag }} <span >({{ site.tags[tag].size }})</span></a></li>
		{% endfor %}
	{% else %}
		{% for tag in site.tags %} 
		<li><a href="showTags.html?tag={{ tag[0] }}">{{ tag[0] }} <span style="color: #999999;" >({{ tag[1].size }})</span></a></li>
		{% endfor %}
	{% endif %}
	</ul>
</div>

<div class="sidebar well">
	{% include links-list.html %}
</div>
